In [ ]:
print("hello",1,4.5,True,sep='/')

hello/1/4.5/True

In [ ]:
print("hello",end='-')
print("world")

hello-world

In [ ]:
print(1e308)
#python can handle integers upto 1*10^308 and so 1*10^309 prints infinity as python cannot handle that

1e+308

In [ ]:
print(1e309)

inf

In [ ]:
print(1.7e309)

inf

In [ ]:
print(1.7e308)

inf

In [ ]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

Hash

In [ ]:
string="This is python"
strings='This is python'
char="C"
multiline_str="""This is multiline string with more than one line"""
unicode=u"\U0001f600\U0001F606\U0001F923"
raw_str=r"raw \n string"

In [ ]:
print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
This is python
C
This is multiline string with more than one line
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
a=True+4
b=False+4
print("a:",a)
print("b:",b)
#True is taken as 1 and False as 0
#python treats booleans as numbers in mathematical expressions

a: 5
b: 4

In [ ]:
a=None
print(a)

None

In [ ]:
k=None
a=5
b=6
print("Nitishendra")
#in this way k can be declared to be used for future use without giving an error

Nitishendra

In [ ]:
print(5/2)#This is normal division
print(5//2)#This is integer division
print(5%2)#Returns remainder
print(5**2)#returns 5 to the power

2.5
2
1
25

In [ ]:
print(1 and 0)
print(1 or 0)
print(not 1)#python considers 0 as False

0
1
False

In [ ]:
#Bitwise
print(2 & 3)
#bitwise or
print(2 | 3)
#bitwise xor
print(2 ^ 3)
print(~3)
#<< this operator shifts bits 2 position to the left
print(5<<2)
#>> this operator shifts bits 2 position to the right
print(4>>2)

2
3
1
-4
20
1

In [ ]:
#in and not in is a Membership operator
print('D' in 'Delhi')
#& is bitwise and operator, and is commonly used but & is a bitwise operator

True

In [ ]:
print('D' not in 'Delhi')

False

In [ ]:
print(10 in [1,2,3,4,5,10,11,12,14,15,16])
#>,>=,==.< are relational operators

True

In [ ]:
#finding sum of number in a digit
pm=int(input("Enter the number: "))
a=pm
sum=0
while a!=0:
  sum+=a%10
  a=a//10
print(sum)
#% gives remainder and // gives quotient in integer form

Enter the number: 647
17

In [ ]:
email=input("Enter the email: ")
password=input("enter the password: ")
if email=="shaktisaurabh06@gmail.com" and password=="1234":
  print("welcome")
elif email=="shaktisaurabh06@gmail.com" and password!="1234":
  print("Try once more")
  password=input("enter the password: ")
  if password=="1234":
    print("Welcome finally")
  else:
    print("wrong")
else:
  print("wrong credentials")

Enter the email: shami
enter the password: 1777778
wrong credentials

In [ ]:
#min of 3 numbers
a=int(input("Enter the first number: "))
b=int(input("Enter the 2nd number: "))
c=int(input("Enter the 3rd number: "))
min=None
if a<b:
  min=a
  if a<c:
    min=a
  else:
    min=c
else:
  min=b
  if b<c:
    min=b
  else:
    min=c
print("minimum number is ",min)

Enter the first number: 10
Enter the 2nd number: 20
Enter the 3rd number: 30
minimum number is  10

In [ ]:
#min of 3 numbers
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: "))
min=None
if a<b and a<c:
  print(a," is minimum")
elif b<c:#if a is not minimum then above if condition fails
  print(b," is minimum")
else:#if the above 2 condition fails then neither a is minimum nor b is minimum, so it comes to the else part and c gets printed
  print(c," is minimum")

Enter the first number: 6
Enter the second number: 10
Enter the third number: 2
2  is minimum

In [ ]:
#min of 3 numbers
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: "))
min=None
if a<b and a<c:
  print(a," is minimum")
elif b<c:#if a is not minimum then above if condition fails
  print(b," is minimum")
elif c<b:#if the above 2 condition fails then neither a is minimum nor b is minimum, so it comes to the else part and c gets printed
  print(c," is minimum")
else:
  print("All are same")

Enter the first number: 10
Enter the second number: 10
Enter the third number: 10
All are same

In [ ]:
#module is a file containing functions which can be imported
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import random
print(random.randint(1,100))

79

In [ ]:
help('modules') #prints list of all modules

Please wait a moment while I gather a list of all available modules...

/usr/local/lib/python3.10/dist-packages/IPython/kernel/__init__.py:12: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  warn("The `IPython.kernel` package has been deprecated since IPython 4.0."
/usr/local/lib/python3.10/dist-packages/altair/vega/v5/__init__.py:18: AltairDeprecationWarning: The module altair.vega.v5 is deprecated and will be removed in Altair 5.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/altair/vegalite/v3/__init__.py:29: AltairDeprecationWarning: The module altair.vegalite.v3 is deprecated and will be removed in Altair 5. Use `import altair as alt` instead of `import altair.vegalite.v3 as alt`.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/jupyter_client/ssh/tunnel.py:57: DeprecationWarning:

zmq.utils.strtypes is deprecated in pyzmq 23.

/usr/local/lib/python3.10/dist-packages/llvmlite/llvmpy/__init__.py:3: UserWarning:

The module `llvmlite.llvmpy` is deprecated and will be removed in the future.

Downloading http://dlib.net/files/shape_predictor_68_face_landmarks.dat.bz2 to /root/mlxtend_data/shape_predictor_68_face_landmarks.dat.bz2

/usr/local/lib/python3.10/dist-packages/moviepy/video/fx/painting.py:7: DeprecationWarning:

Please use `sobel` from the `scipy.ndimage` namespace, the `scipy.ndimage.filters` namespace is deprecated.

/usr/local/lib/python3.10/dist-packages/nibabel/pkg_info.py:73: DeprecationWarning:

distutils Version classes are deprecated. Use packaging.version instead.

/usr/local/lib/python3.10/dist-packages/nibabel/quaternions.py:31: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/lib/python3.10/pkgutil.py:92: UserWarning:

The DICOM readers are highly experimental, unstable, and only work for Siemens time-series at the moment
Please use with caution.  We would be grateful for your help in improving them

/usr/local/lib/python3.10/dist-packages/nltk/twitter/__init__.py:20: UserWarning:

The twython library has not been installed. Some functionality from the twitter package will not be available.

/usr/local/lib/python3.10/dist-packages/notebook/utils.py:280: DeprecationWarning:

distutils Version classes are deprecated. Use packaging.version instead.

/usr/local/lib/python3.10/dist-packages/setuptools/_distutils/msvccompiler.py:66: DeprecationWarning:

msvccompiler is deprecated and slated to be removed in the future. Please discontinue use or file an issue with pypa/distutils describing your use case.

/usr/lib/python3.10/pkgutil.py:92: UserWarning:

The numpy.array_api submodule is still experimental. See NEP 47.

/usr/local/lib/python3.10/dist-packages/matplotlib_inline/config.py:68: DeprecationWarning:

InlineBackend._figure_format_changed is deprecated in traitlets 4.1: use @observe and @unobserve instead.

/usr/local/lib/python3.10/dist-packages/pandas_datareader/compat/__init__.py:11: DeprecationWarning:

distutils Version classes are deprecated. Use packaging.version instead.

/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py:121: DeprecationWarning:

pkg_resources is deprecated as an API

/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py:2870: DeprecationWarning:

Deprecated call to `pkg_resources.declare_namespace('google')`.
Implementing implicit namespace packages (as specified in PEP 420) is preferred to `pkg_resources.declare_namespace`. See https://setuptools.pypa.io/en/latest/references/keywords.html#keyword-namespace-packages

/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py:2870: DeprecationWarning:

Deprecated call to `pkg_resources.declare_namespace('google.cloud')`.
Implementing implicit namespace packages (as specified in PEP 420) is preferred to `pkg_resources.declare_namespace`. See https://setuptools.pypa.io/en/latest/references/keywords.html#keyword-namespace-packages

/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py:2870: DeprecationWarning:

Deprecated call to `pkg_resources.declare_namespace('google.logging')`.
Implementing implicit namespace packages (as specified in PEP 420) is preferred to `pkg_resources.declare_namespace`. See https://setuptools.pypa.io/en/latest/references/keywords.html#keyword-namespace-packages

/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py:2870: DeprecationWarning:

Deprecated call to `pkg_resources.declare_namespace('google.iam')`.
Implementing implicit namespace packages (as specified in PEP 420) is preferred to `pkg_resources.declare_namespace`. See https://setuptools.pypa.io/en/latest/references/keywords.html#keyword-namespace-packages

/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py:2870: DeprecationWarning:

Deprecated call to `pkg_resources.declare_namespace('mpl_toolkits')`.
Implementing implicit namespace packages (as specified in PEP 420) is preferred to `pkg_resources.declare_namespace`. See https://setuptools.pypa.io/en/latest/references/keywords.html#keyword-namespace-packages

/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py:2870: DeprecationWarning:

Deprecated call to `pkg_resources.declare_namespace('sphinxcontrib')`.
Implementing implicit namespace packages (as specified in PEP 420) is preferred to `pkg_resources.declare_namespace`. See https://setuptools.pypa.io/en/latest/references/keywords.html#keyword-namespace-packages

/usr/lib/python3.10/pkgutil.py:92: UserWarning: viewer requires Qt
/usr/local/lib/python3.10/dist-packages/sphinx/util/docutils.py:15: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives
/usr/local/lib/python3.10/dist-packages/tensorboard/_vendor/html5lib/filters/sanitizer.py:29: DeprecationWarning: html5lib's sanitizer is deprecated; see https://github.com/html5lib/html5lib-python/issues/443 and please let us know if Bleach is unsuitable for your needs
/usr/local/lib/python3.10/dist-packages/torch/distributed/_shard/checkpoint/__init__.py:8: DeprecationWarning: torch.distributed._shard.checkpoint will be deprecated, use torch.distributed.checkpoint instead
/usr/local/lib/python3.10/dist-packages/torch/distributed/_sharded_tensor/__init__.py:8: DeprecationWarning: torch.distributed._sharded_tensor will be deprecated, use torch.distributed._shard.sharded_tensor instead
/usr/local/lib/python3.10/dist-packages/torch/distributed/_sharding_spec/__init__.py:8: DeprecationWarning: torch.distributed._sharding_spec will be deprecated, use torch.distributed._shard.sharding_spec instead
No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'
/usr/local/lib/python3.10/dist-packages/torchvision/datapoints/__init__.py:12: UserWarning: The torchvision.datapoints and torchvision.transforms.v2 namespaces are still Beta. While we do not expect major breaking changes, some APIs may still change according to user feedback. Please submit any feedback you may have in this issue: https://github.com/pytorch/vision/issues/6753, and you can also check out https://github.com/pytorch/vision/issues/7319 to learn more about the APIs that we suspect might involve future changes. You can silence this warning by calling torchvision.disable_beta_transforms_warning().
/usr/local/lib/python3.10/dist-packages/torchvision/transforms/v2/__init__.py:54: UserWarning: The torchvision.datapoints and torchvision.transforms.v2 namespaces are still Beta. While we do not expect major breaking changes, some APIs may still change according to user feedback. Please submit any feedback you may have in this issue: https://github.com/pytorch/vision/issues/6753, and you can also check out https://github.com/pytorch/vision/issues/7319 to learn more about the APIs that we suspect might involve future changes. You can silence this warning by calling torchvision.disable_beta_transforms_warning().
/usr/lib/python3.10/pkgutil.py:107: VisibleDeprecationWarning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

Cython              code                keras               requests_unixsocket
IPython             codecs              keyword             requirements
OpenGL              codeop              kiwisolver          resource
PIL                 collections         langcodes           rich
__future__          colorcet            lazy_loader         rlcompleter
_abc                colorlover          lib2to3             rmagic
_aix_support        colorsys            libfuturize         rpy2
_argon2_cffi_bindings community           libpasteurize       rsa
_ast                compileall          librosa             runpy
_asyncio            concurrent          lightgbm            sched
_bisect             confection          linecache           scipy
_blake2             configparser        lit                 scs
_bootsubprocess     cons                llvmlite            seaborn
_bz2                contextlib          locale              secrets
_cffi_backend       contextlib2         locket              select
_codecs             contextvars         logging             selectors
_codecs_cn          contourpy           lsb_release         send2trash
_codecs_hk          convertdate         lunarcalendar       setuptools
_codecs_iso2022     copy                lxml                shapely
_codecs_jp          copyreg             lzma                shelve
_codecs_kr          cpuinfo             mailbox             shlex
_codecs_tw          crypt               mailcap             shutil
_collections        csv                 markdown            signal
_collections_abc    ctypes              markdown_it         site
_compat_pickle      cufflinks           markupsafe          sitecustomize
_compression        curses              marshal             six
_contextvars        cv2                 math                skimage
_crypt              cvxopt              matplotlib          sklearn
_csv                cvxpy               matplotlib_inline   sklearn_pandas
_ctypes             cycler              matplotlib_venn     slugify
_ctypes_test        cymem               mdurl               smart_open
_curses             cython              mimetypes           smtpd
_curses_panel       cythonmagic         missingno           smtplib
_cvxcore            dask                mistune             sndhdr
_datetime           dataclasses         mizani              sniffio
_dbm                datascience         ml_dtypes           snowballstemmer
_decimal            datetime            mlxtend             socket
_distutils_hack     dateutil            mmap                socketserver
_dlib_pybind11      db_dtypes           modulefinder        socks
_ecos               dbm                 more_itertools      sockshandler
_elementtree        dbus                moviepy             softwareproperties
_functools          debugpy             mpmath              sortedcontainers
_hashlib            decimal             msgpack             soundfile
_heapq              decorator           multidict           soupsieve
_imp                defusedxml          multipledispatch    soxr
_io                 difflib             multiprocessing     spacy
_json               dis                 multitasking        spacy_legacy
_locale             distributed         murmurhash          spacy_loggers
_lsprof             distutils           music21             sphinx
_lzma               dlib                natsort             spwd
_markupbase         doctest             nbclient            sql
_md5                docutils            nbconvert           sqlalchemy
_multibytecodec     dopamine            nbformat            sqlite3
_multiprocessing    dot_parser          nest_asyncio        sqlparse
_opcode             duckdb              netrc               sre_compile
_operator           easydict            networkx            sre_constants
_osx_support        ecos                nibabel             sre_parse
_pickle             editdistance        nis                 srsly
_plotly_future_     ee                  nisext              ssl
_plotly_utils       email               nltk                stat
_posixshmem         en_core_web_sm      nntplib             statistics
_posixsubprocess    encodings           notebook            statsmodels
_py_abc             entrypoints         ntpath              storemagic
_pydecimal          enum                nturl2path          string
_pyio               ephem               numba               stringprep
_pyrsistent_version erfa                numbergen           struct
_pytest             errno               numbers             subprocess
_queue              et_xmlfile          numexpr             sunau
_random             etils               numpy               sympy
_rinterface_cffi_abi etuples             nvfuser             sympyprinting
_rinterface_cffi_api exceptiongroup      oauth2client        symtable
_scs_direct         fastai              oauthlib            sys
_scs_indirect       fastcore            opcode              sysconfig
_sha1               fastdownload        openpyxl            syslog
_sha256             fastjsonschema      operator            tables
_sha3               fastprogress        opt_einsum          tabnanny
_sha512             fastrlock           optax               tabulate
_signal             faulthandler        optparse            tarfile
_sitebuiltins       fcntl               os                  tblib
_socket             filecmp             osgeo               telnetlib
_soundfile          fileinput           osgeo_utils         tempfile
_soundfile_data     filelock            osqp                tenacity
_sqlite3            fiona               osqppurepy          tensorboard
_sre                firebase_admin      ossaudiodev         tensorboard_data_server
_ssl                flask               packaging           tensorflow
_stat               flatbuffers         palettable          tensorflow_datasets
_statistics         flax                pandas              tensorflow_estimator
_string             fnmatch             pandas_datareader   tensorflow_gcs_config
_strptime           folium              pandas_gbq          tensorflow_hub
_struct             fontTools           pandocfilters       tensorflow_io_gcs_filesystem
_symtable           fractions           panel               tensorflow_metadata
_sysconfigdata__linux_x86_64-linux-gnu frozendict          param               tensorflow_probability
_sysconfigdata__x86_64-linux-gnu frozenlist          parso               tensorstore
_testbuffer         fsspec              partd               termcolor
_testcapi           ftplib              past                terminado
_testclinic         functools           pasta               termios
_testimportmultiple functorch           pathlib             test
_testinternalcapi   future              pathy               tests
_testmultiphase     gast                patsy               text_unidecode
_thread             gc                  pdb                 textblob
_threading_local    gcsfs               pexpect             textwrap
_tkinter            gdown               pickle              tf_slim
_tracemalloc        genericpath         pickleshare         thinc
_uuid               gensim              pickletools         this
_warnings           geographiclib       pip                 threading
_weakref            geopandas           pipes               threadpoolctl
_weakrefset         geopy               piptools            tifffile
_xxsubinterpreters  getopt              pkg_resources       time
_xxtestfuzz         getpass             pkgutil             timeit
_yaml               gettext             platform            tinycss2
_zoneinfo           gi                  platformdirs        tkinter
abc                 gin                 plistlib            tlz
absl                glob                plotly              token
aifc                glob2               plotnine            tokenize
aiohttp             google_auth_httplib2 pluggy              toml
aiosignal           google_auth_oauthlib polars              tomli
alabaster           google_crc32c       pooch               toolz
albumentations      google_drive_downloader poplib              torch
altair              googleapiclient     portpicker          torchaudio
antigravity         googlesearch        posix               torchdata
anyio               graphlib            posixpath           torchgen
apiclient           graphviz            pprint              torchsummary
appdirs             greenlet            prefetch_generator  torchtext
apt                 grp                 preshed             torchvision
apt_inst            grpc                prettytable         tornado
apt_pkg             grpc_status         profile             tqdm
aptsources          gspread             proglog             trace
argon2              gspread_dataframe   progressbar         traceback
argparse            gym                 prometheus_client   tracemalloc
array               gym_notices         promise             traitlets
array_record        gzip                prompt_toolkit      tree
arviz               h5netcdf            prophet             triton
ast                 h5py                proto               tty
astropy             hashlib             pstats              turtle
astunparse          heapq               psutil              tweepy
async_timeout       hmac                psycopg2            typer
asynchat            holidays            pty                 types
asyncio             holoviews           ptyprocess          typing
asyncore            html                pwd                 typing_extensions
atexit              html5lib            py                  tzlocal
attr                http                py4j                unicodedata
attrs               httpimport          py_compile          unification
audioop             httplib2            pyarrow             unittest
audioread           humanize            pyasn1              uritemplate
autograd            hyperopt            pyasn1_modules      urllib
autoreload          idna                pyclbr              urllib3
babel               imageio             pycocotools         uu
backcall            imageio_ffmpeg      pycparser           uuid
base64              imagesize           pyct                vega_datasets
bdb                 imaplib             pydantic            venv
bin                 imblearn            pydata_google_auth  warnings
binascii            imgaug              pydoc               wasabi
binhex              imghdr              pydoc_data          wave
bisect              imp                 pydot               wcwidth
bleach              importlib           pydot_ng            weakref
blis                importlib_resources pydotplus           webbrowser
blosc2              imutils             pydrive             webcolors
bokeh               inflect             pyexpat             webencodings
boost               iniconfig           pygame              websocket
branca              inspect             pygments            werkzeug
bs4                 io                  pygtkcompat         wheel
build               ipaddress           pylab               widgetsnbextension
builtins            ipykernel           pymc                wordcloud
bz2                 ipykernel_launcher  pymeeus             wrapt
cProfile            ipython_genutils    pymystem3           wsgiref
cachecontrol        ipywidgets          pyparsing           xarray
cached_property     isympy              pyproj              xarray_einstats
cachetools          itertools           pyproject_hooks     xdrlib
calendar            itsdangerous        pyrsistent          xgboost
catalogue           jax                 pytensor            xlrd
certifi             jaxlib              pytest              xml
cffi                jieba               python_utils        xmlrpc
cgi                 jinja2              pytz                xxlimited
cgitb               joblib              pyviz_comms         xxlimited_35
chardet             json                pywt                xxsubtype
charset_normalizer  jsonpickle          pyximport           yaml
chex                jsonschema          qdldl               yarl
chunk               jupyter             qudida              yellowbrick
clang               jupyter_client      queue               yfinance
click               jupyter_console     quopri              zict
click_plugins       jupyter_core        random              zipapp
cligj               jupyter_server      re                  zipfile
cloudpickle         jupyterlab_plotly   readline            zipimport
cmake               jupyterlab_pygments regex               zipp
cmath               jupyterlab_widgets  reprlib             zlib
cmd                 kaggle              requests            zmq
cmdstanpy           kanren              requests_oauthlib   zoneinfo

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [ ]:
a=int(input("Enter the number: "))
i=1
while i<=10:
  print(f"{a}*{i}=",a*i)
  i+=1

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

Enter the number: 4
4*1= 4
4*2= 8
4*3= 12
4*4= 16
4*5= 20
4*6= 24
4*7= 28
4*8= 32
4*9= 36
4*10= 40

In [ ]:
a=int(input("Enter the number: "))
i=1
while i<=10:
  print(a,"*",i,"=",a*i)
  i+=1

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

Enter the number: 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
import random
a=random.randint(1,100)
n=1
# print(a)
while n<4:
  n1=int(input("Enter guessed number: "))
  if n1==a:
    print("you have guessed it right")
    break
  n+=1
else:
  print("what you guessed was wrong, real number is ",a)

92
Enter guessed number: 88
Enter guessed number: 92
you have guessed it right

In [ ]:
import random
a=random.randint(1,100)
n=1
while n<4:
  n1=int(input("Enter guessed number: "))
  if n1>a:
    print("guessed number is larger")
  elif n1<a:
    print("guessed number is lower")
  else:
    print("you guessed the right number")
    break
  n+=1
else:
  print("You guessed the wrong numbers, actual number was ",a)

11
Enter guessed number: 14
guessed number is larger
Enter guessed number: 11
you guessed the right number

In [ ]:
import random
a=random.randint(1,100)
n1=int(input("Enter guessed number: "))
n=1
while a!=n1:
  if a>n1:
    print("Guessed number is lower")
  else:
    print("guessed number is larger")
  n1=int(input("Enter guessed number again: "))
  n+=1
else:
  print("You guessed the number right in ",n,"th attempt",sep="")

Enter guessed number: 90
guessed number is larger
Enter guessed number again: 60
Guessed number is lower
Enter guessed number again: 70
Guessed number is lower
Enter guessed number again: 80
Guessed number is lower
Enter guessed number again: 84
Guessed number is lower
Enter guessed number again: 88
guessed number is larger
Enter guessed number again: 86
Guessed number is lower
Enter guessed number again: 87
You guess the number right in 8th attempt

In [ ]:
for i in range(1,10,4):
  print(i)

1
5
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in 'Delhi':
  print(i)

D
e
l
h
i

In [ ]:
cp=10000
for i in range(10):
  cp=cp*0.9
  print(i,cp)

0 9000.0
1 8100.0
2 7290.0
3 6561.0
4 5904.900000000001
5 5314.410000000001
6 4782.969000000001
7 4304.672100000001
8 3874.204890000001
9 3486.784401000001

In [ ]:
cp=10000
for i in range(10,0,-1):
  print(i,cp)
  cp=cp*0.9

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.900000000001
4 5314.410000000001
3 4782.969000000001
2 4304.672100000001
1 3874.204890000001

In [ ]:
# Write code here
a=int(input("Enter the number: "))
sum=0
def summer(a):
  if a==1:
    return 1
  elif a%5==0:
    return summer(a-1)
  else:
    return a+summer(a-1)
sum=summer(a)
print(sum)

In [ ]:
# Take user input as integer N
N = int(input("Enter the value of N: "))

# Initialize variables
total_sum = 0
current_num = 1

# Perform the sum calculation
while current_num <= N:
    # Check if the current number is divisible by 5
    if current_num % 5 == 0:
        current_num += 1
        continue

    # Add the current number to the sum
    total_sum += current_num

    # Check if the sum exceeds 300
    if total_sum > 300:
        break

    # Move to the next number
    current_num += 1

# Print the final result
print("The final sum is:", total_sum)

Enter the value of N: 30
The final sum is: 303

In [ ]:
for i in range(2000,2003):
  s=False
  k=str(i)
  for a1 in k:
    if int(a1)%2==0:
      s=True
      print(a1)
    else:
      break
  print(s)
print("kamin")

2
0
0
0
True
2
0
0
True
2
0
0
2
True
kamin

In [ ]:
numbers = [2, 4, 6, 8, 10,5]

# Check if all numbers in the list are even
result = all(num % 2 == 0 for num in numbers)

print(result)  # Output: True

False

In [ ]:
#The all() function works by iterating over each element of the iterable and evaluating their truthiness, if all iterables evaluate to True then this function returns True else
# it returns False
numbers=[2,4,6,8,10,5]
result=all(num for num in numbers)
print(result)

True

In [ ]:
# Write code here
a=int(input("Enter the number: "))
s=True
for i in range(2,a):
  if a%i==0:
    s=False
    break
if s:
  print(a ," is prime number")
else:
  print(a," is not prime number")
#when a=2 then for loop will not run at the first place

Enter the number: 3
3  is prime number

In [ ]:
# Write code here
import math
angle_per_hour=360/12
angle_per_minute=360/60
hour=int(input("Enter the hour angle: "))
minute=int(input("Enter the minute angle: "))
mns=abs(int(hour*angle_per_hour-minute*angle_per_minute))
amn=360-mns
if amn>mns:
     print("Difference in the angle would be ",mns)
else:
  print("Difference in the angle would be ",amn)

Enter the hour angle: 9
Enter the minute angle: 0
Difference in the angle would be  90

In [ ]:
#fibonacci
def fibonacci(a):
  if a==0:
    return 0
  elif a==1:
    return 1
  else:
    return fibonacci(a-1)+fibonacci(a-2)
a=int(input("Enter the number: "))
for i in range(a):
    print(fibonacci(i))

Enter the number: 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
def factorial(a):
  if a==0:
    return 1
  else:
    return a*factorial(a-1)
a=int(input("Enter the number: "))
print(factorial(a))

Enter the number: 7
5040

In [ ]:
#reversal
num=int(input("Enter the number: "))
sum=""
while num!=0:
  c=num%10
  sum=sum+str(c)
  num=num//10
print(sum)

Enter the number: 76542
24567

In [ ]:
a=int(input("Enter the number: "))
cnt=0
sum=0
while a!=0:
  sum+=a
  cnt+=1
  a=int(input("Enter the number: "))
print("Sum of numbers is ",sum)
print("Average of numbers is ",sum/cnt)

Enter the number: 10
Enter the number: 11
Enter the number: 12
Enter the number: 13
Enter the number: 15
Enter the number: 16
Enter the number: 0
Sum of numbers is  77
Average of numbers is  12.833333333333334

In [ ]:
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    print(i,end=" ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [ ]:
for i in range(1000,3001):
  lk=str(i)
  if all(int(num)%2==0 for num in lk):
    print(i,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [ ]:
num1,num2=0,1
for i in range(10):
  print(num1)
  next=num1+num2
  num1=num2
  num2=next

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.
a=int(input("Enter the number: "))
sum=0
for i in range(1,a+1):
  if i%5==0:
    continue
  sum+=i
  if sum>300:
    sum-=i
    break
print("Sum is ",sum)
#if i is divisible by 5 then the rest of code is skipped and i is incremented, if i is not divisible by 5 then sum is incremented by i anf if sum is greater than 300 then sum is decremented
#by i and break statement ensures that we immediately come out of for loop and print the sum

Enter the number: 30
Sum is  276

In [ ]:
#solving the above sum by using just the while loop
a=int(input("Enter the number: "))
sum=0
i=1
while i<a+1:
  if i%5==0:
    i+=1
    continue
  sum+=i
  if sum>300:
    sum-=i
    break
  i+=1
print("Sum is ",sum)

Enter the number: 30
Sum is  276

In [ ]:
#solving the above sum by using just the while loop
a=int(input("Enter the number: "))
sum=0
i=1
while i<a+1:
  if i%5==0:
    i+=1
    continue
  sum+=i
  i+=1
  if sum>300:
    sum-=i
    break
print("Sum is ",sum)

Enter the number: 30
Sum is  275

In [ ]:
from typing_extensions import Counter
# Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.
sum=0
count=0
while True:
  a=int(input("Enter the number: "))
  if a==0:
    break
  sum+=a
  count+=1
print("Sum is ",sum)
print("Average is ",sum/count)

Enter the number: 1
Enter the number: 3
Enter the number: 5
Enter the number: 7
Enter the number: 9
Enter the number: 11
Enter the number: 13
Enter the number: 15
Enter the number: 16
Enter the number: 14
Enter the number: 0
Sum is  94
Average is  9.4

In [ ]:
l=[]
for i in range(2000,3201):
  if i%5!=0 and i%7==0:
    l.append(str(i))
",".join(l)

'2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199'

In [ ]:
L=[]
for i in range(1000,3001):
  flag=True
  curr=i
  while curr!=0:
    k=curr%10
    if k%2!=0:
      flag=False
      break
    curr=curr//10
  if flag:
    L.append(str(i))
print(",".join(L))
#L is an empty list, flag is set True, curr=i , while curr>0 k=curr%10 if k%2!=0 flag=False break

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
l=[]
for i in range(1000,3001):
  curr=i
  flag=True
  while curr>0:
    k=curr%10
    if k%2!=0:
      flag=False
      break
    curr=curr//10
  if flag:
    l.append(str(i))
print(",".join(l))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
# Problem 11: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
# The trace of robot movement is shown as the following:

# UP 5
# DOWN 3
# LEFT 3
# RIGHT 2
# !
# The numbers after the direction are steps.

# ! means robot stop there.
coord=[0,0]
while True:
  a=input("Enter direction followed by steps: ")
  if a=="!":
    break
  direction=a.split()[0]
  steps=int(a.split()[1])
  if direction=="UP":
    coord[1]=coord[1]+steps
  elif direction=="DOWN":
    coord[1]=coord[1]-steps
  elif direction=="LEFT":
    coord[0]=coord[0]-steps
  elif direction=="RIGHT":
    coord[0]=coord[0]+steps
  else:
    pass
print((coord[0]**2+coord[1]**2)**0.5)

Enter direction followed by steps: UP  5
Enter direction followed by steps: DOWN 3
Enter direction followed by steps: LEFT 3
Enter direction followed by steps: RIGHT 2
Enter direction followed by steps: !
2.23606797749979

In [ ]:
coord=[0,0]
while True:
  a=input("Enter direction followed and steps: ")
  if a=="!":
    break
  directions=a.split()[0]
  steps=a.split()[1]
  if directions=="UP":
    coord[1]=coord[1]+steps
  elif directions=="DOWN":
    coord[1]=coord[1]-steps
  elif directions=="LEFT":
    coord[0]=coord[0]-steps
  elif directions=="RIGHT":
    coord[0]=coord[0]+steps
  else:
    pass
print((coord[0]**2+coord[1]**2)**0.5)

In [ ]:
a=int(input("Enter the number to be checked: "))
flag=True
for i in range(2,a):
  if a%i==0:
    flag=False
    break
if flag:
  print(a," is prime number")
else:
  print(a," is not prime number")

Enter the number to be checked: 11
11  is prime number

In [ ]:
population=10000
for i in range(10,0,-1):
  print(i,population)
  population=population/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [ ]:
#1/1!+2/2!+3/3!....
def factorial(a):
  if a==0:
    return 1
  else:
    return a*factorial(a-1)
a=int(input("Enter the number: "))
sum=0
for i in range(1,a+1):
  sum+=i/factorial(i)
print(sum)

Enter the number: 4
2.6666666666666665

In [ ]:
#1/1!+2/2!+3/3!
sum=0
fact=1
a=int(input("Enter the number: "))
for i in range(1,a+1):
  fact=fact*i
  sum=sum+i/fact
print(sum)

Enter the number: 3
2.5

In [ ]:
#1!,2!,3!,4!,5!
a=int(input("Enter the number: "))
fact=1
for i in range(1,a+1):
  fact=fact*i
print(fact)
#factorial

Enter the number: 5
120

In [ ]:
#max number
def mnhg(a):
  l={}
  for i in a:
    if i in l:
      l[i]+=1
    else:
      l[i]=1
  print(l)
  l1=[h for h in l if l[h]==max(l.values())]
  print(l1)
  a=l[l1[0]]
  return {l1[0]:a}
mnhg("aaabbccccddddd")

{'a': 3, 'b': 2, 'c': 4, 'd': 5}
['d']

{'d': 5}

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
a=int(input("Enter the number: "))
for i in range(1,a+1):
  for j in range(0,i):
    print("*",end="")
  print()

Enter the number: 5
*
**
***
****
*****

In [ ]:
a=int(input("Enter the number: "))
for i in range(1,a+1):
  for j in range(1,i+1):
    print(j,end="")
  for k in range(i-1,0,-1):
    print(k,end="")
  print()
#when i=1 then j is bw 1 and 2 hence j is printed after which we enter k loop which runs from 0 to 0 so it doesnot run hence only 1 is printed
#when i=2 then j is bw 1 and 3 hence j is printed twice 1 and 2 after which we enter k loop which runs from 1 to 0 so 1 gets printed 121
#when i=3 then j is bw 1 and 4 hence j is printed thrice(123) after which we enter k loop which runs from 2 to 0 hence 2 and 1 gets printed 12321
#when i=4 then j is bw 1 and 5 hence j is printed(1234) after which we enter k loop which runs from 3 to 0 hence 321 gets printed(1234321)

Enter the number: 4
1
121
12321
1234321

In [ ]:
for i in range(1,10):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
a=int(input("Enter the lowerange: "))
b=int(input("Enter the upper range: "))
for i in range(a,b+1):
  flag=True
  for j in range(2,i):
    if i%j==0:
      flag=False
      break
  if flag:
    print(i,end=" ")

Enter the lowerange: 1
Enter the upper range: 21
1 2 3 5 7 11 13 17 19

In [ ]:
s="""hello"""
print(s)
s1='''hello'''
print(s1)

hello
hello

In [ ]:
a="hello world"
print(a[2:])
print(a[:3])
print(a[0:6:2])
print(a[6:0:-1])
print(a[6:0:-2])
print(a[::-1])

llo world
hel
hlo
w olle
wol
dlrow olleh
world

In [ ]:
a="hello world"
a.capitalize()#1st word capitalized

'Hello world'

In [ ]:
a.title() #first letter of every word is capitalized

'Hello World'

In [ ]:
a.upper() #every word of the string is capitalized

'HELLO WORLD'

In [ ]:
'Hello World'.lower()

'hello world'

In [ ]:
"Hello World".swapcase() #we swap the letters that are capital with letters that are small

'hELLO wORLD'

In [ ]:
"my name is shakti".count("i")
#it counts the number of times i occurs in the string

2

In [ ]:
"my name is shaminaders".find("is")

8

In [ ]:
"my name is mahendra".find("dhoni")

-1

In [ ]:
"my name is mahendra".endswith("dra")

True

In [ ]:
"my name is mahendra".startswith("my")

True

In [ ]:
name="dhoni"
p="god"
"hi i am {} and i am {}".format(name,p)

'hi i am dhoni and i am god'

In [ ]:
f"hi i am {name} and i am {p}"

'hi i am dhoni and i am god'

In [ ]:
"hi i am {1} and i am {0}".format(name,p)

'hi i am god and i am dhoni'

In [ ]:
s="hello world"
s.capitalize()

'Hello world'

In [ ]:
s
#so s remains immutable always

'hello world'

In [ ]:
"nitish1234".isalnum()

True

In [ ]:
"nitish@".isalnum() #checks whether a string contains only alphabets and numerics

False

In [ ]:
"nitish".isalpha()#checks if string contains only alphabets

True

In [ ]:
"123".isdigit()

True

In [ ]:
"123abc".isdigit()

False

In [ ]:
"name1".isidentifier()

True

In [ ]:
"1name".isidentifier()

False

In [ ]:
"name-1".isidentifier()

False

In [ ]:
"name_1".isidentifier()

True

In [ ]:
"hi my name is nitish".split('i')
#we split on the basis of 'i' hence few list elements are formed as shown below
#h,' my name ','s n','t','sh']
#h,' my name ','s n','t','sh'

['h', ' my name ', 's n', 't', 'sh']

In [ ]:
"hi my name is nitish".split("is")
#we split on the basis of 'is' hence list elements would be formed as shown below
#hi my name ',' nit','h'

['hi my name ', ' nit', 'h']

In [ ]:
" ".join(["hi","my","name","is","mahendra"])

'hi my name is mahendra'

In [ ]:
"-".join(["hi","my","name","is","mahendra"])

'hi-my-name-is-mahendra'

In [ ]:
"hi my name is nitish".replace("nitish","campusx")

'hi my name is campusx'

In [ ]:
"nitundra            ".strip()
#removes white spaces

'nitundra'

In [ ]:
#find length of string without using len() function
a=input("Enter the string: ")
counter=0
for i in a:
  counter+=1
print(counter)

Enter the string: mahendra singh dhoni
20

In [ ]:
a=input("Enter the gmail: ")
a.split('@')[0]

Enter the gmail: shaktisaurabh06@gmail.com

'shaktisaurabh06'

In [ ]:
a=input("Enter the gmail: ")
pos=a.index('@')
print(a[0:pos])
#a.index('@') prints the exact index of '@' character

Enter the gmail: nitish24singh@gmail.com
nitish24singh

In [ ]:
#count the frequency of words
a=input("Enter the string: ")
c=0
for i in a:
  if "i" in i:
    c+=1
print(c)

Enter the string: hi how are you this is shakti
4

In [ ]:
#A program which can remove a particular character from a string
a=input("Enter the string: ")
b=input("Enter the string which is supposed to replace previous string: ")
c=a.replace(b,"")
print(c)

Enter the string: Rana kumbha hit the last 5 balls for 5 sixes
Enter the string which is supposed to replace previous string: ix
Rana kumbha hit the last 5 balls for 5 ses

In [ ]:
a=input("Enter the string: ")
bec=input("Enter the string: ")
result=""
for i in a:
  if i!=bec:
    print(i)
    result=result+i
print(result)

Enter the string: nitish
Enter the string: i
n
t
s
h
ntsh

In [ ]:
a=input("Enter the string: ")
c=a[::-1]
if a==c:
  print("Palindrome")
else:
  print("Not palindrome")

Enter the string: dhoni
Not palindrome

In [ ]:
a=input("Enter the string: ")
flag=True
for i in range(len(a)//2):
  if a[i]!=a[len(a)-i-1]:
    flag=False
    print("Not palindrome")
    break
if flag:
  print("Palindrome")

Enter the string: mahendra singh dhonineham
Not palindrome

In [ ]:
#find the number of words without using split
import re
a=input("Enter the string: ")
c=re.findall("\w+",a)
print(c)
print(len(c))

Enter the string: who is he
['who', 'is', 'he']
3

In [ ]:
import re
a=input("Enter the string: ")
c=re.findall("\w+",a)
print(c)
print(len(c))

Enter the string: hello when will you come
['hello', 'when', 'will', 'you', 'come']
5

In [ ]:
a=input("Enter the string: ")
l=[]
temp=""
for i in a:
  if i!=" ":
    temp+=i
  else:
    l.append(temp)
    temp=""
l.append(temp)
print(len(l))

Enter the string: hello how are you ballu
5

In [ ]:
#write a python programe to convert string to title case without using title()
a="hello sarath kumar"
a.title()

'Hello Sarath Kumar'

In [ ]:
import re
a=input("Enter the entire sentence: ")
c=re.findall("\w+",a)
l=[]
temp=""
for i in c:
  for j in i:
     if j==i[0]:
         cm=chr(ord(j)-32)
         temp+=cm
     else:
       temp+=i
  l.append(temp)
  temp=""
print(l)

Enter the entire sentence: hello how are you
['Hhellohellohellohello', 'Hhowhow', 'Aareare', 'Yyouyou']

In [ ]:
import re
a=input("Enter the entire sentence: ")
c=re.findall("\w+",a)
l=[]
temp=""
for i in c:
  print(i)
  print(i[0])
  for j in i:
    # print(i[0])
    # print(j)
    pass

Enter the entire sentence: hello how are you
hello
h
how
h
are
a
you
y

In [ ]:
import re
a=input("Enter the entire sentence: ")
c=re.findall("\w+",a)
l=[]
temp=""
for i in c:
  print(i)
  # print(i[0])
  for j in i:
    print(i[0])
    print(j)

Enter the entire sentence: hello how are you dhoni bhai
hello
h
h
h
e
h
l
h
l
h
o
how
h
h
h
o
h
w
are
a
a
a
r
a
e
you
y
y
y
o
y
u
dhoni
d
d
d
h
d
o
d
n
d
i
bhai
b
b
b
h
b
a
b
i

In [ ]:
import re
a=input("Enter the entire sentence: ")
c=re.findall("\w+",a)
l=[]
temp=""
for i in c:
  c=chr(ord(i[0])-32)
  temp+=c
  for j in i:
    if j!=i[0]:
      c1=j
      temp+=c1
  l.append(temp)
  temp=""
print(l)
" ".join(l)

Enter the entire sentence: hello how are you
['Hello', 'How', 'Are', 'You']

'Hello How Are You'

In [ ]:
import re
a=input("Enter the string: ")
c=re.findall("\w+",a)
l=[]
temp=""
for i in a:
  c1=chr(ord(i[0])-32)
  temp+=c1
  for j in i:
    if j!=i[0]:
      c2=j
      temp+=c2
  l.append(temp)
  temp=""
print(l)
" ".join(l)

['H', 'E', 'L', 'L', 'O', '\x00', 'H', 'O', 'W', '\x00', 'A', 'R', 'E', '\x00', 'Y', 'O', 'U', '\x00', 'M', 'A', 'H', 'E', 'N', 'D', 'R', 'A']

'H E L L O \x00 H O W \x00 A R E \x00 Y O U \x00 M A H E N D R A'

In [ ]:
import re
a=input("Enter the string: ")
l=[]
temp=""
for i in a.split():
  c1=chr(ord(i[0])-32)
  temp+=c1
  for j in i:
    if j!=i[0]:
      c2=j
      temp+=c2
  l.append(temp)
  temp=""
" ".join(l)

Enter the string: hello how are you

'Hello How Are You'

In [ ]:
a=input("Enter the string: ")
l=[]
for i in a.split():
  l.append(i[0].upper()+i[1:].lower())
print(l)
" ".join(l)

Enter the string: hello how are you
['Hello', 'How', 'Are', 'You']

'Hello How Are You'

In [ ]:
#write a program that can convert integer to string
a=int(input("Enter the number: "))
c="0123456789"
res=""
while a!=0:
  res=c[a%10]+res
  a=a//10
print(res)

Enter the number: 96578
96578

In [ ]:
# Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.
# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()
#

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# Problem 2: Print the following pattern
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * *
# * * *
# * *
# *
for i in range(5):
  for j in range(i+1):
    print("*",end=" ")
  print()
for l in range(5,0,-1):
  for m in range(l):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Problem 3:Write a program to pring the following pattern
    # *
  # * * *
# * * * * *
for i in range(3):
  for j in range(i+1):
    print("*",end=" ")
  print("   ")

*
* *
* * *

In [ ]:
# Problem 4:Write a program to print the following pattern
# 1

# 2 1

# 3 2 1

# 4 3 2 1

# 5 4 3 2 1
for i in range(1,5):
  if i==1:
    print(i)
  for j in range(i+1,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# Problem 5: Write a Python Program to Find the Sum of the Series till the nth term:
# 1 + x^2/2 + x^3/3 + â€¦ x^n/n
# n will be provided by the user
x=int(input("Enter x: "))
n=int(input("Enter n: "))
c=1
for i in range(2,n+1):
  c+=x**i/i
print(c)

Enter x: 2
Enter n: 5
16.066666666666666

In [ ]:
x=int(input("Enter the input: "))
c=(x-1)/x
for i in range(1,8):
  c+=1/2*((x-1)/x)**i
print(c)

Enter the input: 3
1.6081390032007314

In [ ]:
# Problem 7 - Find the sum of the series upto n terms.
# Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.
n=int(input("Enter the number: "))
c=2
for i in range(1,5):
  a=c*10+c
  print(c)
  c+=a
  print(c)

Enter the number: 5
2
24
24
288
288
3456
3456
41472

In [ ]:
n=int(input("Enter the number: "))
c=2
l=2
for i in range(1,n):
  k=2
  d=l*10+k
  l=d
  print(l)
  c+=d
print(c)

Enter the number: 5
22
222
2222
22222
24690

In [ ]:
# Problem 8: Write a program to print all the unique combinations of 1,2,3 and 4

In [ ]:
from itertools import permutations

numbers = [1, 2, 3, 4]

# Generate all permutations
perms = list(permutations(numbers))
list(permutations(numbers))
for perm in perms:
  print(' '.join(str(perm)))

( 1 ,   2 ,   3 ,   4 )
( 1 ,   2 ,   4 ,   3 )
( 1 ,   3 ,   2 ,   4 )
( 1 ,   3 ,   4 ,   2 )
( 1 ,   4 ,   2 ,   3 )
( 1 ,   4 ,   3 ,   2 )
( 2 ,   1 ,   3 ,   4 )
( 2 ,   1 ,   4 ,   3 )
( 2 ,   3 ,   1 ,   4 )
( 2 ,   3 ,   4 ,   1 )
( 2 ,   4 ,   1 ,   3 )
( 2 ,   4 ,   3 ,   1 )
( 3 ,   1 ,   2 ,   4 )
( 3 ,   1 ,   4 ,   2 )
( 3 ,   2 ,   1 ,   4 )
( 3 ,   2 ,   4 ,   1 )
( 3 ,   4 ,   1 ,   2 )
( 3 ,   4 ,   2 ,   1 )
( 4 ,   1 ,   2 ,   3 )
( 4 ,   1 ,   3 ,   2 )
( 4 ,   2 ,   1 ,   3 )
( 4 ,   2 ,   3 ,   1 )
( 4 ,   3 ,   1 ,   2 )
( 4 ,   3 ,   2 ,   1 )

In [ ]:
from itertools import permutations

numbers = [1, 2, 3, 4]

# Generate all permutations
perms = list(permutations(numbers))
list(permutations(numbers))
for perm in set(perms):
  print(' '.join(map(str,perm)))

2 3 1 4
1 2 3 4
1 2 4 3
3 1 2 4
2 4 3 1
4 3 2 1
4 1 3 2
1 4 2 3
4 2 1 3
2 4 1 3
4 3 1 2
3 4 2 1
3 2 4 1
2 1 4 3
4 1 2 3
2 1 3 4
3 4 1 2
1 3 4 2
3 2 1 4
2 3 4 1
1 3 2 4
4 2 3 1
1 4 3 2
3 1 4 2

In [ ]:
from itertools import permutations

numbers = [1, 2, 3, 4]

# Generate all permutations
perms = list(permutations(numbers))
list(permutations(numbers))
for perm in perms:
  print(' '.join(map(str,perm)))

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

In [ ]:
a=[1,2,3,4,4,4,4,4,4,4,4,4]
print(set(a))

{1, 2, 3, 4}

In [ ]:
a=[(1,2,3,4),(1,2,3,4),(1,2,3,4),(3,1,2,4),(1,3,2,4),(4,1,2,3)]
print(set(a))

{(1, 2, 3, 4), (3, 1, 2, 4), (1, 3, 2, 4), (4, 1, 2, 3)}

In [ ]:
# Problem 9: Write a program that will take a decimal number as input and prints out the binary equivalent of the number
a=int(input("Enter the number: "))
l=""
while a!=0:
  c=a%2
  l+=str(c)
  a=a//2
print(l[::-1])

Enter the number: 257
100000001

In [ ]:
a=25
print(a//2)
print(a/2)

12
12.5

In [ ]:
# Problem 10: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers
a=int(input("Enter first number: "))
# b=int(input("Enter second number: "))
l1=[]
l2=[]
for i in range(2,a):
  if a%i==0:
    l1.append(i)
  a=a//i
print(l1)

Enter first number: 26
[2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [ ]:
#hcf ,lcm
def lcm(a1,a2):
  max_num=max(a1,a2)
  lcm=max_num
  while True:
    if lcm%a1==0 and lcm%a2==0:
      break
    lcm+=max_num
  return lcm
def hcf(a1,a2):
  while a2!=0:
    a1,a2=a2,a1%a2
  return a1
a1=int(input("Enter the first input: "))
a2=int(input("Enter the second input: "))
print(lcm(a1,a2))
print(hcf(a1,a2))
#lcm is equated with max_num then we enter while loop, if lcm%a1==0 and lcm%a2==0 then we go out of the loop and return lcm else if the if clause is not satisfied then
#lcm is incremented by max_num
#initially a1=18,a2=12
#1st--a1=12,a2=18%12(6)
#2nd--a1=6,a2=12%6(0)
#hence when a2 becomes zero then a1 is returned

Enter the first input: 26
Enter the second input: 91
182
13

In [ ]:
max(10,20)

20

In [ ]:
# Problem 11: Create Short Form from initial character
# Given a string create short form ofthe string from Initial character. Short form should be capitalised.
a=input("Enter the entire string: ")
c=a.split()
d=[]
for i in c:
  d1=i[0].capitalize()
  d.append(d1)
"".join(d)

Enter the entire string: data science mentorship programme

'DSMP'

In [ ]:
# Problem 12: Append second string in the middle of first string
a1=input("Enter the first string: ")
a2=input("Enter the second string: ")
k=len(a1)
d=""
for i in range(k):
  d+=a1[i]
  if i==k//2-1:
    d+=a2
print(d)

Enter the first string: campusx
Enter the second string: data
camdatapusx

In [ ]:
# Problem 13:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.
a1=input("Enter the first string: ")
c1=""
c2=""
c3=""
for i in a1:
  if 97<=ord(i)<=122:
    c1+=i
  elif 65<=ord(i)<=90:
    c2+=i
  c3=c1+c2
print(c3)

Enter the first string: PyNaTive
yaivePNT

In [ ]:
# Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.
a1=input("Enter the string: ")
l1=[]
for i in a1:
  if i.isdigit():
    l1.append(int(i))
a=0
for i in l1:
  a+=i
print(a)
print(a/len(l1))

Enter the string: hel12304every093
22
2.75

In [ ]:
"a123".isdigit()

False

In [ ]:
# Problem 15: Removal of all characters from a string except integers
a1=input("Enter the string: ")
a=""
for i in a1:
  if i.isdigit():
    a+=i
print(a)

Enter the string: I am 25 years and 10 months old
2510

In [ ]:
# Problem 16: Check whether the string is Symmetrical.
# Statement: Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.
a1=input("Enter the string: ")
a=""
b=""
for i in range(len(a1)//2):
  a+=a1[i]
for j in range(len(a1)//2,len(a1)):
  b+=a1[j]
if a==b:
  print("Symmetrical")
else:
  print("Not symmetrical")

Enter the string: kholphal
Not symmetrical

In [ ]:
# Problem 17: Reverse words in a given String
a1=input("Enter the string: ")
c=a1.split()
" ".join(c[::-1])

Enter the string: geeks quiz practice code

'code practice quiz geeks'

In [ ]:
# Problem 18: Find uncommon words from two Strings.
# Statement: Given two sentences as strings A and B. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.
a1=input("Enter the string: ")
a2=input("Enter the string: ")
a=a1.split()
b=a2.split()
c=[]
for i in a:
  if i not in b:
    c.append(i)
for j in b:
  if j not in a:
    c.append(j)
print(c)

Enter the string: apple banana mango
Enter the string: banana fruits mango
['apple', 'fruits']

In [ ]:
# Problem 19: Word location in String.
# Statement: Find a location of a word in a given sentence.
a=input("Enter the string: ")
b=input("Enter the word: ")
c=a.split()
cnt=0
for i in c:
  cnt+=1
  if i==b:
    break
print(cnt)

Enter the string: we can learn data science through campusx  mentorship program
Enter the word: campusx
7

In [ ]:
# Problem 20: Write a program that can remove all the duplicate characters from a string. User will provide the input.
a="abcdee"
c=list(a)
d=set(a)
print(d)

{'b', 'd', 'a', 'e', 'c'}

In [ ]:
a1=input("Enter the string: ")
d=""
c=list(a1)
d=set(c)
"".join(d)

Enter the string: hello

'lohe'

In [ ]:
# Problem 3:Write a program to pring the following pattern
  #  *
  # * * *
# * * * * *
rows=int(input("Enter the rows: "))
for i in range(rows):
  for j in range(rows-i-1):
    print(" ",end="")
  for k in range(2*i+1):
    print("*",end="")
  print()

Enter the rows: 3
  *
 ***
*****

In [ ]:
rows=int(input("Enter the rows: "))
for i in range(rows):
  for j in range(rows-i-1):
    print(" ",end="")
  for k in range(2*i+1):
    print("*",end="")
  print()

Enter the rows: 3
  *
 ***
*****

In [ ]:
a=int(input("Enter the number: "))
for i in range(a):
  for j in range(a-i,0,-1):
    print(j,end=" ")
  print()

Enter the number: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
a=int(input("Enter the number: "))
for i in range(1,a+1):
  for j in range(i):
    print("*",end="")
  print()
for k in range(a-1,0,-1):
  for j in range(k):
    print("*",end="")
  print()

Enter the number: 5
*
**
***
****
*****
****
***
**
*

In [ ]:
#printing a regular pattern star
row=int(input("Enter the rows: "))
for i in range(1,row+1):
  print(" "*row,end="")
  print("* "*i)
  row=row-1
#when i=1 then 6 spaces are printed followed by 1 star *
#when i=2 then 5 spaces are printed followed by 2 star *
#when i=3 then 4 spaces followed by 3 stars
#when i=6 then 0 space followed by 6 stars

Enter the rows: 6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [ ]:
a=int(input("Enter the number: "))
for i in range(1,a+1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter the number: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
x=int(input("Enter the number: "))
n=int(input("Enter the number: "))
sum=1
s="1+"
for i in range(2,n+1):
  sum+=(x**i)/i
  s+="x^{}/{}+".format(i,i)
print(sum)
print(s[:-1])

Enter the number: 10
Enter the number: 5
22884.333333333332
1+x^2/2+x^3/3+x^4/4+x^5/5

In [ ]:
x=int(input("Enter the number: "))
n=int(input("Enter the number: "))
sum=0
s=""
for i in range(1,n+1):
  sum+=1/i*((x-1)/x)**i
  s+="1/{}*(({}-1)/{})^{}+".format(i,x,x,i)
print(sum)
print(s[:-1])

Enter the number: 10
Enter the number: 5
1.8301230000000004
1/1*((10-1)/10)^1+1/2*((10-1)/10)^2+1/3*((10-1)/10)^3+1/4*((10-1)/10)^4+1/5*((10-1)/10)^5

In [ ]:
a=int(input("Enter the number: "))
start=2
sum=0
for i in range(a):
  if i<a-1:
    print(start,end="+")
  else:
    print(start)
  sum=sum+start
  start=start*10+2
print(sum)

Enter the number: 5
2+22+222+2222+22222
24690

In [ ]:
a=int(input("Enter the number: "))
start=2
sum=0
for i in range(a):
  if i<a-1:
    print(start,end="+")
  else:
    print(start)
  sum=sum+start
  start=start*10+2
print(sum)

Enter the number: 5
2+22+222+2222+22222
24690

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    for k in range(1,5):
      for l in range(1,5):
        print(i,j,k,l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

In [ ]:
a=int(input("Enter the number: "))
l=[]
k=""
while a>0:
  l.append(a%2)
  a=a//2
  print(a,l)
for i in l[::-1]:
  k+=str(i)
print(k)
#while a>0 l.append(17%2)=1, a=17//2(8)
#while a>0 l.append(8%2)=0, a=8//2(4)
#while a>0 l.append(4%2)=0, a=4//2(2)
#while a>0 l.append(2%2)=0, a=2//2(1)
#while a>0 l.append(1%2)=1, a=1//2(0)
#now we will come out of while loop as

Enter the number: 12
6 [0]
3 [0, 0]
1 [0, 0, 1]
0 [0, 0, 1, 1]
1100

In [ ]:
from IPython.core.display import b2a_base64
def lcm(a,b):
  max_num=max(a,b)
  lcm=max_num
  while True:
     if lcm%a==0 and lcm%b==0:
        break
     lcm+=max_num
  return lcm
def hcf(a,b):
  while b!=0:
    a,b=b,a%b
  return a
a=int(input("Enter the number 1: "))
b=int(input("Enter the number 2: "))
lcm(a,b)

Enter the number 1: 18
Enter the number 2: 12

36

In [ ]:
#another way of finding hcf is this
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
small=None
if a>b:
  small=b
else:
  small=a
hcf=None
for i in range(1,small+1):
  if a%i==0 and b%i==0:
    hcf=i
print(hcf)

Enter the first number: 18
Enter the second number: 12
6

In [ ]:
s1=input("Enter the first string: ")
s2=input("Enter the second string: ")
print(s1[:len(s1)//2]+s2+s1[len(s1)//2:])

Enter the first string: campusx
Enter the second string: data
camdatapusx

In [ ]:
s=input("Enter the string: ")
lower=""
upper=""
for i in s:
  if i.islower():
    lower+=i
  else:
    upper+=i
print(lower+upper)

Enter the string: PyNative
yativePN

In [ ]:
s=input("Enter the string: ")
s1=""
s2=""
if len(s)%2==0:
  s1=s[0:len(s)//2]
  s2=s[len(s)//2:]
else:
  s1=s[:len(s)//2]
  s2=s[len(s)//2+1:]
if s1==s2:
  print("symmetrical")
else:
  print("Not symmetrical")

Enter the string: madma
symmetrical

In [ ]:
s="khokho"
len(s)
s[0:len(s)/2]

TypeError: ignored

In [ ]:
A="apple banana mango"
B="banana fruits mango"
L=[]
for i in A.split():
  if i not in B and i not in L:
    L.append(i)
for j in B.split():
  if j not in A and j not in L:
    L.append(j)
print(L)

['apple', 'fruits']

In [ ]:
a1='aaaabbbcccdddeeefff'
s=""
for i in a1:
  if i not in s:
    s+=i
print(s)

abcdef

In [ ]:
import time
start=time.time()
for i in range(1,100):
  print(i)
end=time.time()
print(end-start)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
0.003920316696166992

In [ ]:
#time complexity can differ in accordance to machines, in accordance to different implementation of the codes(for or while loop), time cannot be calculated for very
#small pieces of code like initializing number to a variable, If time varies for different inputs but a relationship cannot be established then that process of calculating time complexity
#is not ideal

In [ ]:
def mysum(x):
  total=0
  for i in range(x+1):
    total+=i
  return total
#the inner for loop will have 3 operations, 1 in which 1 is equated each time, 1 in hich total is incremented and in thirs total is equated and as this loop runs x times so
#time taken by for loop is 3x and total time taken is 3x+1 as total=0 too is 1 operation
#Benefits of this operations are:
#Different time for different algorithm and this time it is independent of the machine and is directly proportional to number of operations, time varies for different inputs and a
#relationship has been established in the form of 3x+1.... but still the time would change if we change the implementation for instance if we use while loop instead of for loop
#also there is no clear defination of which operation to count we are assuming here that all operations take the same time....

In [ ]:
def search_for_elmt(l,e):
  for i in l:
    if i==e:
      return True
    return False
#when e is first element in the list---best case
#when e is not in the list---worst case
#when you look through about half the elements in the list---Average case

In [ ]:
def factorial(n):
  #assuming n is always >0
  answer=1
  while n>1:
    answer*=n
    n-=1
  return answer
#within the while loop there are few operations happened
# (a)First one involves multiplication(*), second one involves equating answer to answer*n, third one involves subtraction,fourth one equating n=n-1 and n>1 is 5th one so in total
# this piece of code involves 2+5n time complexity....
#After getting this equation we ignore additive constant and multiplicative constants so we get n....so time complexity is of the order of n(means linear relationship), if we increase
#the input by n time then time complexity also increases by n times
#If the equation is like n^2+2n+2 then we ignore multiplicative and additive constants and then chose the factor which is contributing highest to the time complexity, hence we get n^2
#as time complexity.
#n^2+100000n+3^1000 here additive constants and multiplicative constants are removed, we get n^2 which is our time complexity
#logn+n+4, log1000 base 10 would only be 3 hence it is not highest factor, highrst factor is n so time complexity is of the order of n
#0.0003*n*logn+300n....time complexity nlogn as for very big number nlogn would be greater than n
#2n^30+3^n....in this case for high values of n exponential would be bigger so 3^n would be the answer

In [ ]:
#accessing elements in an array using index value is constant time complexity
#linear search is an example of o(n) time complexity linear time complexity
#nested loop is an example of o(n^2) time complexity or quadratic time complexity
#binary search where search list length is halved each time is an example of logarithmic time complexity where if i/p increases by 10 times time only increases by 1 times, 100 times then
#time by 2 times and so on
#nlogn timecomplexity
#exponentail time complexity

In [ ]:
#law of addition---If a code has 2 loops one having a time complexity of o(n) and other having a time complexity of o(n) then total time complexity would be o(2n) where 2 would
#be ignored and time complexity would become o(n),  in a code when one loop has a time complexity of O(n) and other loop has a time complexity of O(n^2) then total time complexity
#will be of O(n+n^2) as the lower one will be ignored so time complexity would be O(n^2)
#in case we have 2 nested loops then time complexity will get multiplied

In [ ]:
a=int(input("Enter your number: "))
s=""
k="0123456789"
while a!=0:
  s=k[a%10]+s
  a=a//10
print(s)
#when you increase the input by 10 times, the loop increases 1 time, when i/p is increased by 100 times the loop increases 2 times
#so this has a logn logarithmic time complexity

Enter your number: 345
345

In [ ]:
l=[1,2,3,4,5]
sum=0
for i in l:
  sum+=i
prod=1
for i in l:
  prod*=i
print(sum,prod)
#time complexity is linear of the order of O(n)

In [ ]:
a=[1,2,3]
b=[4,5,6]
for i in a:
  for j in b:
    for k in range(10000):
      print(i,j,k)
#order of n^2 quadratic time complexity as n^2*10000 is total time complexity and as multiplicative time constants are ignored so we get order of n^2 as time complexity

In [ ]:
#even if loop runs half the size of array...time complexity will still be of the order of n O(n)
n=10
k=10
for i in range(n//2,n):
  for j in range(2,n,pow(2,j)):
    k=k+n/2
#the time complexity of outer one is n for the inner one the number of input keep getting divided by 2 everytime j increases...hence total time complexity is nlogn
#if no loops are involved time complexity is constant

In [ ]:
def fib(n):
  if n==0 or n==1:
    return 1
  else:
    return fib(n-1)+fib(n-2)
#so fib(3) would call fib(2) and fib(1) fib(2) would call fib(1) and fib(0) in case of fib(3) 5 functions are called
#in case of fib(5) 15 functions are called so the time complexity here is exponential O(2^n)

In [ ]:
#List is a datatype where you can store multiple items under 1 name. More technically lists can act as dynamic arrays which means you can add more items on the fly
#Lists can store multiple datatypes l=[20,'jessa',35.75,[10,20,30]]
#Advantage of list-heterogeneous and dynamic(in terms of size its size can be varied)
#disadvantages of list -less speed of execution and high memory

In [ ]:
a=2
print(id(a))#prints address

132637904421136

In [ ]:
l=[1,2,3]
print(id(l))
print(id(l[0]))#contents of list l are the addresses of each element, in this case address of 1
print(id(l[1]))#2nd content of list l is the address of 2nd element of l , in this case address of 2
print(id(l[2]))#3rd content of list l is the address of 3rd element of l, in this case address of 3
print(id(1))
print(id(2))
print(id(3))
#problem with this is execution speed is less as we first go to the address the extract element in that address, more memory too is required to store element and their address seperately
#but advantage is we can store different kinds of elements as we are storing their addresses at the end of the day
#list has a lot of unused space
#Python list is slow and required more space(most of space is unused as it is dynamic)
#list can have another list within it as list item
l234=[[a,b,c],1,2,3,'fgh']#is valid

135110587477440
135111007830256
135111007830288
135111007830320
135111007830256
135111007830288
135111007830320

In [ ]:
#characteristic of list
#List is ordered
l1=[1,2,3]
l2=[3,2,1]
l1==l2

False

In [ ]:
#secondly list is mutable unlike strings which was unmutable
#list items can be duplicate
#list is dynamic, as you keep on adding items the memory keeps on getting incremented

In [ ]:
print([[[1,2],[3,4]],[[5,6],[7,8]]])#3D list

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
# positive indexing starts from left to right and negative indexing starts from right to left
#negative indexing starts from -1

In [ ]:
l1=['dhoni',2,3.76,[1,2]]
print(l1[3][0])

1

In [ ]:
print(l1[-1][-2])

1

In [ ]:
l2=[[[1,2],[3,4]],[[5,6],[7,8]]]#3D list
l2[1][0][0]

5

In [ ]:
l2[0][1][0]

3

In [ ]:
l3=[1,2,3,4,5,6,7,8,9]
l3[-5:-2:2]

[5, 7]

In [ ]:
#append adds item at the last of list
#extend can add multiple items in the list at once
l1=[1,2,3,4,5]
l1.extend([6,7,8])
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l1=[1,2,3,4,5]
l1.extend('pithoda')
print(l1)
#extend adds multiple items so it broke string into various parts and added it

[1, 2, 3, 4, 5, 'p', 'i', 't', 'h', 'o', 'd', 'a']

In [ ]:
l1.extend('100')
print(l1)

[1, 2, 3, 4, 5, 'p', 'i', 't', 'h', 'o', 'd', 'a', '1', '0', '0']

In [ ]:
l1.extend([100])

In [ ]:
l12=[1,2,3,4,5]
l12.insert(1,100)
print(l12)
#inserting in a list using index

[1, 100, 2, 3, 4, 5]

In [ ]:
l=[1,2,3,4,5]
l[-1]=500
print(l)

[1, 2, 3, 4, 500]

In [ ]:
l[1]=200
print(l)

[1, 200, 3, 4, 500]

In [ ]:
l=[1,2,3,4,5,6,7]
l[1:4]=[200,300,400]
print(l)
#list is mutable, so 2,3 and 4 is replaced with 200,300 and 400

[1, 200, 300, 400, 5, 6, 7]

In [ ]:
l12=[1,2,3,4,5]
print(l12)
del l12
print(l12)
#deletes l12

[1, 2, 3, 4, 5]

NameError: ignored

In [ ]:
l12=[1,2,3,4,5]
del l12[-1]
print(l12)

[1, 2, 3, 4]

In [ ]:
l13=[1,2,3,4,5]
del l13[1:3]
print(l13)

[1, 4, 5]

In [ ]:
l14=[1,2,3,4,5]
l14.remove(5)
print(l14)
#if you have to remove a specfic item using value we use remove, in case of del we delete using index

[1, 2, 3, 4]

In [ ]:
l14=[1,2,3,4,5]
l14.pop(0)
l14

[2, 3, 4, 5]

In [ ]:
l14=[1,2,3,4,5]
l14.pop()
l14
#by default the last element is removed when pop function is called
#else when pop(0) is called then

[1, 2, 3, 4]

In [ ]:
l1=[1,2,3,4]
l1.clear()
l1

[]

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [ ]:
print(l1*2)

[1, 2, 3, 1, 2, 3]

In [ ]:
l1=[1,2,3]
print(3 in l1)

True

In [ ]:
l1=[1,2,3,4,[5,6]]
print(5 in l1)

False

In [ ]:
l3=[[[1,2],[3,4]],[[5,6],[7,8]]]
for i in l3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

In [ ]:
lam=[2,1,5,7,0]
sorted(lam)#smaller to biggest

[0, 1, 2, 5, 7]

In [ ]:
sorted(lam,reverse=True)
#biggest to smaller

[7, 5, 2, 1, 0]

In [ ]:
l12=[1,2,1,2,1,2,1,2,1,2,1,2,3,3,3,4,4,4,4,5,6,7,8,8]
l12.count(1)

6

In [ ]:
l12.count(2)#count counts the frequency of a given number

6

In [ ]:
l12.count(3)#count here is counting the frequency of 3

3

In [ ]:
l12=[1,2,1,3,4,1,5]
l12.index(2)#index gives out the index of

1

In [ ]:
l12.index(3)#index gives out the index of 3

3

In [ ]:
l12.index(1)#in case a number appears more than once in a list then index function would display the first element of the list

0

In [ ]:
l13=[2,1,5,7,0]
l13.reverse()
l13#this permanently reverses a list(the original list)

[0, 7, 5, 1, 2]

In [ ]:
l14=[2,1,5,7,0]
l14.sort()
print(l14)
#unlike sorted which is not permanent and makes no changes in the original list, sort function does make changes in the original list permanently

[0, 1, 2, 5, 7]

In [ ]:
l14=[2,1,5,7,0]
print(id(l14))
l15=l14.copy()
print(l15)
print(id(l15))
#this is shallow copying in which a new copy is made at a different memory location

135626193261760
[2, 1, 5, 7, 0]
135626193263808

In [ ]:
#list comprehension
#list=[expression for item in iterable if condition==True]
as12=[i for i in range(1,11)]
print(as12)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#scalar multiplication on vectors
v=[2,3,4]
s=-3
v11=[s*i for i in v]
print(v11)
#list comprehension has lesser time complexity compared

[-6, -9, -12]

In [ ]:
#print squares of numbers
a1=[1,2,3,4,5]
a2=[i**2 for i in a1]
print(a2)

[1, 4, 9, 16, 25]

In [ ]:
#print all numbers between 1 to 50 divisible by 5
a4=[i for i in range(1,51) if i%5==0]
a4

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
#find languages which start with letter p
languages=['java','python','php','c','javascript']
[i for i in languages if i[0]=='p']

['python', 'php']

In [ ]:
#find languages which start with letter p
lang=['java','python','php','c','javascript']
[i for i in lang if i.startswith('p')]

['python', 'php']

In [ ]:
#add new list from my_fruits if the fruit exists in basket and also starts with 'a'
basket=['apple','guava','cherry','banana']
my_fruits=['apple','kiwi','grapes','banana']
[i for i in my_fruits if i in basket if i.startswith('a')]

['apple']

In [ ]:
#print a (3,3) matrix using list comprehension --> nested list comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
[[[i*j for i in range(1,4)] for j in range(1,4)] for k in range(1,4)]

[[[1, 2, 3], [2, 4, 6], [3, 6, 9]],
 [[1, 2, 3], [2, 4, 6], [3, 6, 9]],
 [[1, 2, 3], [2, 4, 6], [3, 6, 9]]]

In [ ]:
#cartesian products ==>list comprehension on 2 lists together
a=[1,2,3,4]
b=[5,6,7,8]
[i*j for i in a for j in b]
#5,6,7,8 is found by multiplying 5 of j to 1,2,3 and 4 of i(a), 6 of j is multiplied by 1,2,3 and 4 of i,7 of j is multiplied by 1,2,3 and 4 of i lastly 8 of j is multiplied by
#by 1,2,3 and 4 of i
#the outer loop remains stagnant(j in this case) while the inner loop runs(i in this case)

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [ ]:
a1=[1,2,3,4]
a2=[-1,-2,-3,-4]
a3=list(zip(a1,a2))
a3

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [ ]:
[i+j for i,j in a3]

[0, 0, 0, 0]

In [ ]:
[i+j for i,j in list(zip(a1,a2))]

[0, 0, 0, 0]

In [ ]:
l=[1,2,print,type,input]
l#inbuilt function can also be a list item
#any object can be a list item

[1,
 2,
 <function print>,
 type,
 <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7c0a08d542b0>>]

In [ ]:
#Python is a dynamically typed language meaning variables or the type of data is not predetermined here and it can be changed during runtime(as we can see below the sizes of string,
# integer and float is different,they take up different bytes of memory 50,28,24 respectively).This flexibility requires additional information overhead to store the type of information
#of each element in the list
#In python when you create a list and add elements to it, the elements themselves are not directly stored inside the list. Instead, a list stores references to the memory location where the
#actual objects are stored. # Creating a list with elements of different types
# my_list = [1, "hello", 3.14, True] in the list we have four elements of different types . When you create a list python doesnot store actual elements inside the list. Instead, it stores
#references(or pointers ) to the memory location where these elements are stored.
# my_list ---[reference]---> memory location of integer 1
          # [reference]---> memory location of string "hello"
          # [reference]---> memory location of float 3.14
          # [reference]---> memory location of boolean True
#The use of references introduces some overhead in memory consumption because each reference requires some additional memory.
#Python list implementation uses a dynamic-array like structure called list-objects to store elements. These list object uses over-allocated memory to provide room for future growth.

In [ ]:
import sys

my_string = "4"
my_integer = 4
my_float = 3.1

print(sys.getsizeof(my_string))  # Output: 54 (approximate value)
print(sys.getsizeof(my_integer))  # Output: 28 (approximate value)
print(sys.getsizeof(my_float))  # Output: 24 (approximate value)

50
28
24

In [ ]:
a=[1,2,3]
b=a
print(a)
print(b)
a.append(4)
print(a)
print(b)
#change in a has been reflected in b as well and this has happened because when you did b=a both a and b started pointing towards the same memory location

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
#In order to stop the change in a being reflected in b beacuse of b=a we can avoid a and b to share the memory location by doing the following
a=[1,2,3]
b=a.copy()
print(a)
print(b)
a.append(4)
print(a)
print(b)
#by doing b=a.copy() memory location of a is not copied to b

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
# Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

# Given List:

# list1 = ["M", "na", "i", "Kh"]
# list2 = ["y", "me", "s", "an"]
list1=["M","na","i","Kh"]
list2=["y","me","s","an"]
c=list(zip(list1,list2))

[[('M', 'y')], [('na', 'me')], [('i', 's')], [('Kh', 'an')]]

In [ ]:
[[i for i in list1]]

[['M', 'na', 'i', 'Kh']]

In [ ]:
list4=[2,3,4,5]
[[item] for item in list4]

[[2], [3], [4], [5]]

In [ ]:
[item for item in list4]

[2, 3, 4, 5]

In [ ]:
list1=["M","na","i","Kh"]
list2=["y","me","s","an"]
min_length=min(len(list1),len(list2))
result_list=[[list1[i],list2[i]] for i in range(min_length)]
result_list+=[[item] for item in list1[min_length:]]+[[item] for item in list2[min_length:]]
result_list

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [ ]:
[[1],[2],[3],[4]]+[[5],[6],[7],[8]]#This is one way in which a new list can be appended

[[1], [2], [3], [4], [5], [6], [7], [8]]

In [ ]:
list1=["M","na","i","kh","sa","er","yt"]
list2=["y","me","s","an"]
min_length=min(len(list1),len(list2))
result_list=[[list1[i],list2[i]] for i in range(min_length)]
result_list+=[[item] for item in list1[min_length:]]+[[item] for item in list2[min_length:]]
result_list
#This is one way of creating 2 dimensional list

[['M', 'y'], ['na', 'me'], ['i', 's'], ['kh', 'an'], ['sa'], ['er'], ['yt']]

In [ ]:
# Write a program to add item 7000 after 6000 in the following Python List

# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1=[10,20,[300,400,[5000,6000],500],30,40]
list1[2][2]=[5000,6000,7000]
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

# i.e -

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
c=[[candy_list[i],"-",no_of_items[i]] for i in range(len(candy_list))]
for i in c:
  for k in i:
     print(k,end="")
  print()
#In order to print the below pattern we first have a create a python list which should have a list items 'element i of candy_list','-',element i of no_of_items in one list(which forms each item of the final list)
#for that we have [[candy_list[i],"-",no_of_items[i]] for i in range(len(candy_list))], now we loop through each element of the list ,then go inside those respective elements
#print those elements by combining them within the inner for loop and then come out of that loop to add print() in the outer for loop
#This is done by using
#for i in c:
    #for k in i:
      #  print(k,end="")
    # print()

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

In [ ]:
# Problem 4: Running Sum on list
# Write a program to print a list after performing running sum on it.

# i.e:

# Input:

list1 = [1,2,3,4,5,6]
sum=0
list2=[]
for i in list1:
  sum+=i
  list2.append(sum)
list2

[1, 3, 6, 10, 15, 21]

In [ ]:
# Problem 5: You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
# i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

# For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

# For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

# like wise for all other elememts.

# [2,4,6,10,1]-->[22,20,16,10,23]
list1=[2,4,6,10,1]
list2=[]
sum=0
for i in list1:
  sum=0
  for j in list1:
    if i<=j:
      sum+=j
  list2.append(sum)
list2

[22, 20, 16, 10, 23]

In [ ]:
# Problem 6: Find list of common unique items from two list. and show in increasing order
# Input

# num1 = [23,45,67,78,89,34]
# num2 = [34,89,55,56,39,67]
num1=[23,45,67,78,89,34]
num2=[34,89,55,56,39,67]
c=[i for i in num1 if i in num2]
c.sort()
c

[34, 67, 89]

In [ ]:
# Problem 7: Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.
list1=['1ac21', '23fg', '456', '098d','1','kls']
list2=[]
for i in list1:
  product=1
  for k in i:
    if k.isdigit():
      product=product*int(k)
  list2.append(product)
print(sorted(list2,reverse=True))

[120, 6, 2, 1, 1, 0]

In [ ]:
# Problem 8: Split String of list on K character.

# Example :

# Input:

k=['CampusX is a channel', 'for data-science', 'aspirants.']
s=[]
for i in k:
  s+=i.split()
print(s)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [ ]:
# Problem 9: Convert Character Matrix to single String using string comprehension.
# Example 1:

# Input:

d14=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
for k in d14:
  s=""
  for i in k:
    s+=i
  print(s,end=" ")

campux is best channel

In [ ]:
# Problem 10: Add Space between Potential Words.
# Example:

# Input:

k=['campusxIs', 'bestFor', 'dataScientist']
z=[]
for i in k:
  cnt=0
  for j in i:
    cnt+=1
    if j.isupper():
      break
  z+=[i[:cnt-1]]+[i[cnt-1:]]
print(z)

['campusx', 'Is', 'best', 'For', 'data', 'Scientist']

In [ ]:
'campusxIs'.split()

['campusxIs']

In [ ]:
# Problem 11: Write a program that can perform union operation on 2 lists
# Example:

# Input:

a=[1,2,3,4,5,1]
b=[2,3,5,7,8]
c=[i for i in a]+[j for j in b]
c=list(set(c))
print(c)

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
# Problem 12: Write a program that can find the max number of each row of a matrix
# Example:

# Input:

input1=[[1,2,3],[4,5,6],[7,8,9]]
[max(i) for i in input1]

[3, 6, 9]

In [ ]:
# Problem 13: Write a list comprehension to print the following matrix
# [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[[i] for i in range(3)]+[[i] for i in range(3,6)]+[[i] for i in range(6,9)]

[[0], [1], [2], [3], [4], [5], [6], [7], [8]]

In [ ]:
[[i for i in range(3)]]+[[i for i in range(3,6)]]+[[i for i in range(6,9)]]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Problem 14: Write a list comprehension that can transpose a given matrix
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
for i in matrix:
  for j in i:
    print(i,j)

[1, 2, 3] 1
[1, 2, 3] 2
[1, 2, 3] 3
[4, 5, 6] 4
[4, 5, 6] 5
[4, 5, 6] 6
[7, 8, 9] 7
[7, 8, 9] 8
[7, 8, 9] 9

In [ ]:
# Problem 15: Write a list comprehension that can flatten a nested list
# Input
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
for i in matrix:
  for j in i:
    print()

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[4, 5, 6]
[4, 5, 6]
[7, 8, 9]
[7, 8, 9]
[7, 8, 9]

In [ ]:
[j for i in matrix for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#problem 1 new solution
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
c=list(zip(list1,list2))
[[i,j] for (i,j) in c]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [ ]:
#problem 2 solution
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Problem 3: Update no of items available
# Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

# i.e -

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for (i,j) in zip(candy_list,no_of_items):
  print(i,"-",j,sep="")

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

In [ ]:
#problem 5
l=[2,4,6,10,1]
l1=[]
for i in l:
  sum=0
  for j in l:
    if i<=j:
      sum+=j
  l1.append(sum)
l1

[22, 20, 16, 10, 23]

In [ ]:
# Problem 6: Find list of common unique items from two list. and show in increasing order
# Input

num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
common=[]
for i in num1:
  if i in num2:
    if i not in common:
      common.append(i)
common.sort()
common

[34, 67, 89]

In [ ]:
#problem 7
c=['1ac21', '23fg', '456', '098d','1','kls']
l=[]
for i in c:
  product=1
  for j in i:
    if j.isdigit():
      product*=int(j)
  l.append(product)
d=sorted(list(zip(l,c)),reverse=True)
[i[1] for i in d]

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [ ]:
#problem 8
c=['CampusX is a channel', 'for data-science', 'aspirants.']
d=[]
for i in c:
  d.extend(i.split())
print(d)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [ ]:
a=[]
a.extend("amanabh")
a
#extend segregates the string seperately considering the entire string as an array

['a', 'm', 'a', 'n', 'a', 'b', 'h']

In [ ]:
a=[]
a.append('amanabh')
a
# using append the entire string is added as it is

['amanabh']

In [ ]:
a=[]
i="aman hai chor"
a.append('aman hai chor'.split())
a
#using append the entire list is added at once as a list

[['aman', 'hai', 'chor']]

In [ ]:
a=[]
a.extend('aman hai chor'.split())
a
#using extend the entire list is added sepearately as seperate items

['aman', 'hai', 'chor']

In [ ]:
#Problem 9
d=[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
" ".join(["".join(i) for i in d])

'campux is best channel'

In [ ]:
#Problem 10
c=['campusxIs', 'bestFor', 'dataScientist']
result=[]
for i in c:
  temp=[[]]
  for char in i:
    if char.isupper():
      temp.append([])
    temp[-1].append(char)
  print(temp)

[['c', 'a', 'm', 'p', 'u', 's', 'x'], ['I', 's']]
[['b', 'e', 's', 't'], ['F', 'o', 'r']]
[['d', 'a', 't', 'a'], ['S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't']]

In [ ]:
#Problem 10
c=['campusxIs', 'bestFor', 'dataScientist']
result=[]
for i in c:
  temp=[[]]
  for char in i:
    if char.isupper():
      temp.append([])
    temp[-1].append(char)
  result_char=""
  for c in temp:
    result_char=result_char+"".join(c)+" "
  result.append(result_char[:-1])
print(result)
#if we run into a upper character then we add another list and start adding rest of the characters in that list
#now using the for loop we go through each item of temp list and add it to result char and now append result list with result_char[:-1]

['campusx Is', 'best For', 'data Scientist']

In [ ]:
#Problem 11
a=[1,2,3,4,5,1]
b=[2,3,5,7,8]
c=[]
for i in a:
  if i not in c:
    c.append(i)
for j in b:
  if j not in c:
    c.append(j)
print(c)

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
#problem 12
a=[[1,2,3],[4,5,6],[7,8,9]]
c=[]
for i in a:
  c.append(max(i))
c

[3, 6, 9]

In [ ]:
#Problem 13
# a=[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[[(i,j) for j in range(0,3)] for i in range(0,3)]

[[(0, 0), (0, 1), (0, 2)], [(1, 0), (1, 1), (1, 2)], [(2, 0), (2, 1), (2, 2)]]

In [ ]:
[[j+3*i for j in range(0,3)] for i in range(0,3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [2]:
matrix1=[[1,2,3],[5,6,7],[1,2,9]]
print(len(matrix1))

3

In [3]:
for k in range(len(matrix1)):
  for row in matrix1:
    print(row[k])

1
5
1
2
6
2
3
7
9

In [4]:
for row in matrix1:
  print(row[1])

2
6
2

In [5]:
for row in matrix1:
  print(row[0])

1
5
1

In [7]:
for row in matrix1:
  print(row[2])

3
7
9

In [8]:
for i in range(len(matrix1)):
  for row in matrix1:
    print(row[i])

1
5
1
2
6
2
3
7
9

In [11]:
[[row[i] for row in matrix1]for i in range(len(matrix1))]
#for i=0 we traverse through each row and extract the ith element then when row gets over, we come out first for and then increment i
#first row0[0] is picked, row1[0] and then row2[0]
#secondly row0[1], row1[1] and row2[1]
#Thirdly row0[2], row1[2] and row2[2]

[[1, 5, 1], [2, 6, 2], [3, 7, 9]]

In [12]:
#Problem 14
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[[row[i] for row in matrix] for i in range(len(matrix1))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [15]:
#Problem 15
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[i for j in matrix for i in j]
#for j in matrix first we go to the first list element of the 2D list matrix and go through each element of j and then
#j is incremented and goes to next element of matrix list and passes through each element of jth element and prints i

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[[row[i] for row in matrix] for i in range(len(matrix))]
#till the time we traverse through all elements of the list the i remains constant(0 initially) then 0 is incremented and we pick up and print corresponding ith element for each row

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [19]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[i for j in matrix for i in j]

[1, 2, 3, 4, 5, 6, 7, 8, 9]